@charset "UTF-8";
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family: 'Poppins', sans-serif;
    line-height: 1.7rem;
}
a{
    text-decoration: none !important;
    color: white;
}
ul{
    list-style: none;
}
.container{
    width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
.clear{
    clear: both;
}
.text-center{
    text-align: center;
}
.bg-dark{
    background-color: #2f2f2f;
}
.bg-primary{
    background-color: #fed136;
}
.text-white{
    color: white;
}
.text-orange{
    color:#f76d37;
}

/*navbar style*/

.navbar{
    padding: 20px 0;
    background-color: #252525;
}
.navbar .logo{
    position: relative;
    top: 2px;
    right: 80px;
}
.navbar .nav-items{
    display: flex;
    justify-content: space-between;
}
.navbar .nav-items .links ul li{
    display: inline-block;
    padding: 0 8px;
    font-size: 17px;
    position: relative;
    top: 10px;
    left: 90px;
}
.navbar .nav-items .links ul li a:hover ,
.navbar .nav-items .links ul li a i:hover ,
.shortcut .menu ul a:hover ,
footer a:hover{
    color: rgb(255, 101, 45);  
}
.navbar .nav-items .links .search a:hover{
    color: rgb(255, 101, 45);  
}
.navbar .nav-items .links .home a:visited{
    color: rgb(255, 101, 45);  

} 
/*subheading*/
.subheading{
    padding-top: 100px;
    line-height: 20px;
}
.subheading h2{
    font-size: 40px;
    position: relative;
    font-weight: bold;
    top: 100px;
    left: 30px;
}
.subheading p{
    width: 45%;
    font-size: 14px;
    color: #4c4c4b;
    left: 30px;
    position: relative;
    top: 130px;
}
.subheading .about-text{
    margin-top: -20px;
}
.subheading img{
    position: relative;
    left: 580px;
    bottom: 380px;
}
.subheading button ,
.gallery button{
    border: none;
    padding: 15px;
    width: 160px;
    font-size: 18px;
    margin-top: 120px;
    position: relative;
    left: 30px;
    top: 50px;
    background-color: #252525;
}
 /*shortcut*/
 .shortcut{
    background-color: #2f2f2f;
    position: relative;
    bottom: 100px;
    height: 400px;
    margin-top: -90px;
}
.shortcut .about-1{
    width: 20%;
    padding-top: 30px;
}
.shortcut .about-1 h3{
    position: relative;
    top: 90px;
    left: 40px;
    font-size: 24px;
    font-weight: bold;
}
.shortcut .about-1 p{
    position: relative;
    left: 40px;
    top: 120px;
    font-size: 14px;
    font-weight: 300;
}
.shortcut .menu{
    width: 20%;
}
.shortcut .menu h3{
    position: relative;
    left: 320px;
    font-size:24px;  
    font-weight: bold; 
    bottom: 130px;   
}
.shortcut .menu ul{
    position: relative;
    left: 320px ;
    bottom: 90px;
    font-size: 14px;
    font-weight: 300;
}
.shortcut .useful{
    width: 20%;
}
.shortcut .useful h3{
    position: relative;
    font-size: 24px;
    font-weight: bold;
    left: 650px;
    bottom: 310px;
}
.shortcut .useful p{
    position: relative;
    left: 650px;
    top: -280px;
    font-size: 14px;
    font-weight: 300;
}
.shortcut .contact-us{
  width: 20%;
}
.shortcut .contact-us h3{
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: -40px;
  
}
.shortcut .contact-us{
  position: relative;
  left:950px ;
  bottom: 450px;
  translate: ;

}
.shortcut .contact-us a:hover ,
.shortcut .menu li a:hover{
  color:#d33a11 ;
  transition: color 2s ease-in-out  ;
}
.shortcut .contact-us .email{
  font-size: 15px;
}
.shortcut .contact-us .address a::before{
  content: url(../images/icons/pin\ \(1\).png)
}
.shortcut .contact-us .call a::before{
  content: url(../images/icons/phone\ \(2\).png);
}
.shortcut .contact-us .email a::before{
  content: url(../images/icons/mail\ \(2\).png);
}
/*footer*/
footer a{
  color: black;
}
footer{
  position: relative;
  top: -70px;
}



