@charset "UTF-8";
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family: 'Poppins', sans-serif;
    line-height: 1.7rem;
}
a{
    text-decoration: none !important;
    color: white;
}
ul{
    list-style: none;
}
.container{
    width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
.clear{
    clear: both;
}
.text-center{
    text-align: center;
}
.bg-dark{
    background-color: #2f2f2f;
}
.bg-primary{
    background-color: #fed136;
}
.text-white{
    color: white;
}
.text-orange{
    color:#f76d37;
}

/*navbar style*/

.navbar{
    padding: 20px 0;
    background-color: #252525;
}
.navbar .logo{
    position: relative;
    top: 2px;
    right: 80px;
}
.navbar .nav-items{
    display: flex;
    justify-content: space-between;
}
.navbar .nav-items .links ul li{
    display: inline-block;
    padding: 0 8px;
    font-size: 17px;
    position: relative;
    top: 10px;
    left: 90px;
}
.navbar .nav-items .links ul li a:hover ,
.navbar .nav-items .links ul li a i:hover ,
.shortcut .menu ul a:hover ,
footer a:hover{
    color: rgb(255, 101, 45);  
}
.navbar .nav-items .links .search a:hover{
    color: rgb(255, 101, 45);  
}
.navbar .nav-items .links .home a:visited{
    color: rgb(255, 101, 45);  

} 
/*banner*/
.showcase{
    height: 580px;
    background: url("../images/banner/banner-bg.png") no-repeat
     center center/cover;
}
.outstanding-text{
    color: #252525 !important;
    font-size:3.8rem !important ;
}
.coffee-text{
    font-size: 70px !important;
    font-weight: bold !important;
}

.showcase h1 , p{
    position: relative;
    top: 120px;
    left: 10px;
}
.showcase button{
    position: relative;
    top: 80px;
    left: 10px;
}
.showcase button:hover,
.subheading button:hover{
    color: white;
    background-color: rgb(255, 101, 45);

}
 
.showcase p{
    font-size:16px ;
    width: 60%;
    padding-bottom: 30px;
}
.showcase button ,
.gallery button ,
.service .mashed .original .button1 ,
.service .mashed .flavor .button2 ,
.service .mashed .pleasent .button3{
    background-color: #252525;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 15px;
    font-size: 1rem;
    width: 180px;
}
/*subheading*/
.subheading{
    padding-top: 100px;
    line-height: 20px;
}
.subheading h2{
    font-size: 40px;
    position: relative;
    font-weight: bold;
    top: 80px;
    left: 30px;
}
.subheading p{
    width: 45%;
    font-size: 14px;
    color: #4c4c4b;
    left: 30px;
    position: relative;
}
.subheading .about-text{
    margin-top: -20px;
}
.subheading img{
    position: relative;
    left: 580px;
    bottom: 380px;
}
.subheading button ,
.gallery button{
    border: none;
    padding: 15px;
    width: 160px;
    font-size: 18px;
    margin-top: 120px;
    position: relative;
    left: 30px;
    top: 30px;
    background-color: #252525;
}
/*Gallery*/
.gallery{
    margin-top: -250px;
}
.gallery h2{
    font-size: 40px;
    font-weight: bold;    
}
.gallery p{
    margin-top: -80px;
    font-size: 14px;
    margin-left:-50px;
}
.gallery .row{ 
    margin-top: 130px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery .row .galleryphoto img{
    margin: 15px;
    width: 330px;
    height: 300px;
    

}
.gallery .row .galleryphoto img:hover{
    opacity: .7;
}
.gallery button{
    position: relative;
    top: -30px;
    width: 170px;
    padding: 10px;
    margin-right: 50px;
}
.gallery button:hover{
    color: white;
    background-color: rgb(255, 101, 45);
}
/*service*/
.service{
    background: url(../images/services/banner/services-bg.png);
    background-attachment: fixed;
    height: 680px;
    margin-top: 50px;
}
.service h1{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 130px;
    text-shadow: 1px 1px 1px white;
}
.service p{
    position: relative;
    top: 140px;
    left: -10px;
}


.service .mashed{
    margin-left: 50px;
    justify-content: center;
    position: relative;
    bottom: 50px;
}
.service .mashed .original img ,
.service .mashed .flavor img ,
.service .mashed .pleasent img{
    position: relative;
    top: 50px;  
}
.service .mashed .original h3 ,
.service .mashed .flavor h3 ,
.service .mashed .pleasent h3{
    position: relative;
    top: 50px;
}
.service .mashed .original p ,
.service .mashed .flavor p ,
.service .mashed .pleasent p{
    position: relative;
    top: 70px;
   left: 10px;
   font-size: 14px;
   font-weight: 300;
}

.service .mashed .original{
    position: relative;
    top: 250px;
    background-color: rgb(255, 101, 45);
    width: 330px;
    height: 280px;
    left: 50px;
}
.service .mashed .flavor{
    position: relative;
    left: 450px;
    bottom: 30px;
    background-color: rgb(255, 101, 45);
    width: 330px;
    height: 280px;
}

.service .mashed .pleasent{
    position: relative;
    left: 850px;
    bottom: 310px;
    background-color: rgb(255, 101, 45);
    width: 330px;
    height: 280px;

}
.service .mashed .original .button1{
    position: relative;
    top: 70px;
    left: 10px;
    visibility: hidden;
}
.service .mashed .flavor .button2 ,
.service .mashed .pleasent .button3{
    position: relative;
    top: 80px;
    left: 10px;
    visibility: hidden;
}
.service .mashed .original:hover ,
.service .mashed .flavor:hover ,
.service .mashed .pleasent:hover{
    background-color: white;
    color: #2f2f2f;
    width: 330px;
    height: 350px;
}
.service .mashed .original:hover .button1 ,
.service .mashed .flavor:hover .button2 ,
.service .mashed .pleasent:hover .button3{
    visibility: visible;
}
/*testimonial*/
.testimonial h1{
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top: 90px;
    left: 30px;
    color:#f76d37;

}
.testimonial p{
    font-size: 16px;
    margin: 0 auto;
    color: #4c4c4b;
}
.testimonial .t-text h3{
    position: relative;
    right: 330px;
    bottom: 40px;
    font-size: 24px;
    color:#f76d37 ;
    font-weight: bold;
}
.testimonial .t-text h3:after {
    content: url(../images/icons/quick-icon.png);
}
.t-text{
    z-index: 1;
}
.testimonial .t-text p{
    position: relative;
    top: -30px;
    font-size: 15px;
    left: 80px;
    color: #4c4c4b;
    z-index: 1;
}
.testimonial .box1{
    width: 83% !important;
  position: absolute;
  top: 3770px;
  left: 140px;
  height:180px;
  background-color: white;
  border:3px solid black;
}
.testimonial .box2{
    width: 96% !important;
    position:relative;
    top: 170px;
   left: 50px ;
    height:205px;
    background-color: white;
    transform: skew(-30deg);
  }
  /*contact*/
  .contact{
      position: relative;
      top: 250px;
      flex-wrap: wrap;
  }
  .contact h1{
      font-size: 2.5rem;
      font-weight: bold;
  }
  .contact .info{
     width:680px;
     background: url(../images/contact/img-9.png);
     background-size: cover;
     position: relative;
     top: 100px;
     height: 550px;
  }
  form{
      position: relative;
      top: 40px;
      left: 80px;
      font-family: Arial, Helvetica, sans-serif;
  }
  input[type=text] , input[type=email] , input[type=tel] , textarea{
      width: 70%;
      padding: 12px;
      border: none;
      border-radius: 20px;
  }
  input , textarea:focus{
      outline: none;
  }
  input::placeholder ,
  textarea::placeholder{
      padding-left: 20px;
  }
  textarea::placeholder{
      padding-top: 50px;

  }
  .contact .map{
      position: relative;
      left: 680px;
      bottom: 450px;
  }
  .contact button{
    background-color: #d33a11;
    color: white;
    font-size: 1rem;
    padding: 15px;
    width: 150px;
    border: none;
    border-radius: 50px;
    position: relative;
    top: 60px;
    left: 200px;
  }
  .contact button:hover{
      color: black;
      background-color: white;
  }
  /*shortcut*/
  .shortcut{
      background-color: #2f2f2f;
      position: relative;
      bottom: 100px;
      height: 400px;
      margin-top: -90px;
  }
  .shortcut .about-1{
      width: 20%;
      padding-top: 30px;
  }
  .shortcut .about-1 h3{
      position: relative;
      top: 90px;
      left: 40px;
      font-size: 24px;
      font-weight: bold;
  }
  .shortcut .about-1 p{
      position: relative;
      left: 40px;
      top: 120px;
      font-size: 14px;
      font-weight: 300;
  }
  .shortcut .menu{
      width: 20%;
  }
  .shortcut .menu h3{
      position: relative;
      left: 320px;
      font-size:24px;  
      font-weight: bold; 
      bottom: 130px;   
  }
  .shortcut .menu ul{
      position: relative;
      left: 320px ;
      bottom: 90px;
      font-size: 14px;
      font-weight: 300;
  }
  .shortcut .useful{
      width: 20%;
  }
  .shortcut .useful h3{
      position: relative;
      font-size: 24px;
      font-weight: bold;
      left: 650px;
      bottom: 310px;
  }
  .shortcut .useful p{
      position: relative;
      left: 650px;
      top: -280px;
      font-size: 14px;
      font-weight: 300;
  }
.shortcut .contact-us{
    width: 20%;
}
.shortcut .contact-us h3{
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: -40px;
    
}
.shortcut .contact-us{
    position: relative;
    left:950px ;
    bottom: 450px;
    translate: ;

}
.shortcut .contact-us a:hover ,
.shortcut .menu li a:hover{
    color:#d33a11 ;
    transition: color 2s ease-in-out  ;
}
.shortcut .contact-us .email{
    font-size: 15px;
}
.shortcut .contact-us .address a::before{
    content: url(../images/icons/pin\ \(1\).png)
}
.shortcut .contact-us .call a::before{
    content: url(../images/icons/phone\ \(2\).png);
}
.shortcut .contact-us .email a::before{
    content: url(../images/icons/mail\ \(2\).png);
}
/*footer*/
footer a{
    color: black;
}
footer{
    position: relative;
    top: -70px;
}



