@charset "UTF-8";
.container{
    width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding-left: 20px;
}
header h1{
    width: 300px;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    font-size: 3rem;
    box-shadow:4px 4px 5px #2d2d2d;
    margin-bottom: 60px;
}
.images .row img{
    width: 400px;
    height: 300px;
    margin: 10px;
    transition: all 1s ease-in-out;
    transform: scale(1);
}
.images .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images .row img:hover{
    transform: scale(1.5);
}